<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="GraphStreamFeasibility"
            name="Visuflow">
      </category>
      <view
            category="GraphStreamFeasibility"
            class="de.unipaderborn.visuflow.ui.view.CFGView"
            icon="icons/sample.gif"
            id="de.unipaderborn.visuflow.graphdisplaycomponent.CFGViewPart"
            name="CFG">
      </view>
      <view
            category="GraphStreamFeasibility"
            class="de.unipaderborn.visuflow.ui.view.ResultView"
            icon="icons/sample.gif"
            id="de.unipaderborn.visuflow.ui.view.ResultsViewPart"
            name="Results">
      </view>
      <view
      		category="GraphStreamFeasibility"
            class="de.unipaderborn.visuflow.ui.view.UnitView"
            icon="icons/sample.gif"
            id="GraphStreamFeasibility.view1"
            name="Unit Inspection View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="false"
         locationURI="popup:#AbstractTextEditorRulerContext?after=additions">
      <command
            commandId="JimpleEditor.JimpleEditorBreakpoint"
            label="Toggle Breakpoint"
            style="push">
            <visibleWhen>
   <or>
      <with variable="selection">
         <iterate>
           <reference definitionId="de.unipaderborn.visuflow.jimpleextension"/>
         </iterate>
      </with>
      <with variable="activeEditorInput">
        <reference definitionId="de.unipaderborn.visuflow.jimpleextension"/>
      </with>
   </or>
</visibleWhen>
      </command>
   </menuContribution>
   <menuContribution
         allPopups="false"
         locationURI="popup:#AbstractTextEditorRulerContext?after=additions">
      <command
            commandId="GraphStreamFeasibility.sourceCodeCommand"
            label="View Java Source"
            style="push">
            <visibleWhen>
   <or>
      <with variable="selection">
         <iterate>
           <reference definitionId="de.unipaderborn.visuflow.jimpleextension"/>
         </iterate>
      </with>
      <with variable="activeEditorInput">
        <reference definitionId="de.unipaderborn.visuflow.jimpleextension"/>
      </with>
   </or>
</visibleWhen>
      </command>
   </menuContribution>
   <menuContribution
         allPopups="false"
         locationURI="toolbar:org.eclipse.ui.main.toolbar">
      <toolbar
            id="GraphStreamFeasibility.toolbar2">
         <command
               commandId="GraphStreamFeasibility.sourceCodeCommand"
               icon="icons/breakpoint.png"
               label="Left"
               style="push">
         </command>
         <command
               commandId="GraphStreamFeasibility.sourceCodeCommand"
               icon="icons/breakpoint.png"
               label="Right"
               style="push">
         </command>
      </toolbar>
   </menuContribution>
</extension>
<extension
      point="org.eclipse.ui.commands">
   <command
         id="JimpleEditor.JimpleEditorBreakpoint"
         name="name">
   </command>
   <command
         id="GraphStreamFeasibility.sourceCodeCommand"
         name="sourceCodeCommand">
   </command>
</extension>
<extension
      point="org.eclipse.ui.handlers">
   <handler
         class="de.unipaderborn.visuflow.debug.handlers.JimpleBreakPointHandler"
         commandId="JimpleEditor.JimpleEditorBreakpoint">
   </handler>
   <handler
         class="de.unipaderborn.visuflow.debug.handlers.ViewJavaSource"
         commandId="GraphStreamFeasibility.sourceCodeCommand">
   </handler>
</extension>

<extension
         id="JimpleBuilder.JimpleBuilder"
         name="Jimple Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="de.unipaderborn.visuflow.builder.JimpleBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="JimpleBuilder.VisuFlowNature"
         name="VisuFlow Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.unipaderborn.visuflow.builder.VisuFlowNature">
         </run>
      </runtime>
      <builder
            id="JimpleBuilder.JimpleBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="VisuFlow Project Nature commands"
            id="JimpleBuilder.VisuFlowNature.category">
      </category>
      <command
            name="Add/RemoveVisuFlow Project Nature"
            defaultHandler="de.unipaderborn.visuflow.builder.AddRemoveVisuFlowNatureHandler"
            categoryId="JimpleBuilder.VisuFlowNature.category"
            id="JimpleBuilder.addRemoveVisuFlowNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="JimpleBuilder.addRemoveVisuFlowNature"
               label="Disable Jimple Builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="JimpleBuilder.VisuFlowNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="JimpleBuilder.addRemoveVisuFlowNature"
               label="Enable Jimple Builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="JimpleBuilder.VisuFlowNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="JimpleBreakPointMarker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            markerType="de.uni-paderborn.visuflow.plugin.JimpleBreakPointMarker"
            name="JimpleBreakPointAnnotation"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="JimpleBreakPointAnnotation"
            colorPreferenceKey="de.uni-paderborn.visuflow.plugin.jimplebreakpoint.color"
            colorPreferenceValue="192,255,192"
            contributesToHeader="false"
            highlightPreferenceKey="de.uni-paderborn.visuflow.plugin.jimplebreakpoint.highlight"
            highlightPreferenceValue="true"
            icon="icons/breakpoint.png"
            includeOnPreferencePage="true"
            isGoToPreviousNavigationTarget="true"
            label="Jimple Breakpoint"
            overviewRulerPreferenceKey="de.uni-paderborn.visuflow.plugin.jimplebreakpoint.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            quickFixIcon="icons/breakpoint.png"
            showInNextPrevDropdownToolbarAction="false"
            symbolicIcon="warning"
            textPreferenceKey="de.uni-paderborn.visuflow.plugin.jimplebreakpoint.text"
            textPreferenceValue="false"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="de.uni-paderborn.visuflow.plugin.jimplebreakpoint.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension point="org.eclipse.core.expressions.definitions">
	   <definition id="de.unipaderborn.visuflow.jimpleextension">
	      <adapt type="org.eclipse.core.resources.IResource">
	             <test property="org.eclipse.core.resources.extension"
	                   value="jimple">
	             </test>
	      </adapt>
	   </definition>
	</extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.unipaderborn.visuflow.debug.handlers.JimpleEditor"
            default="false"
            extensions="jimple"
            icon="icons/sample.gif"
            id="de.unipaderborn.visuflow.ui.JimpleEditor"
            name="JimpleEditor">
      </editor>
   </extension>
	
    <!-- this defines the perspective. don't delete this again shanki!!! -->
    <extension
         point="org.eclipse.ui.perspectives">
         <perspective
            class="de.unipaderborn.visuflow.ui.VisuflowEditorPerspective"
            id="visuflow-plugin.perspective.editor"
            name="Visuflow">
        </perspective>
    </extension>

    <!--
      ########### LaunchConfigurationDelegate
    <extension point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType
            name="Visuflow"
            delegate="de.unipaderborn.visuflow.debug.LaunchConfigurationDelegate"
            modes="run, debug"
            id="de.unipaderborn.visuflow.launchConfigurationType">
        </launchConfigurationType>
    </extension>
    <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup
            class="de.unipaderborn.visuflow.debug.ui.LaunchConfigurationTabGroup"
            id="de.unipaderborn.visuflow.debug.ui.launchConfigurationTabGroup"
            type="de.unipaderborn.visuflow.launchConfigurationType">
        </launchConfigurationTabGroup>
    </extension>
    <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage
            id="de.unipaderborn.visuflow.debug.ui.launchConfigurationTypeImage"
            configTypeID="de.unipaderborn.visuflow.launchConfigurationType"
            icon="icons/monkey16.png">
        </launchConfigurationTypeImage>
    </extension>
    -->
    
	<extension point="org.eclipse.debug.ui.launchConfigurationTabs">
		<tab
		    class="de.unipaderborn.visuflow.debug.ui.LaunchConfigurationTab"
		    group="org.eclipse.jdt.debug.ui.launchConfigurationTabGroup.localJavaApplication"
		    id="de.unipaderborn.visuflow.debug.ui.launchConfigurationTab"
		    name="Visuflow">
		</tab>
	</extension> 
	<extension point="org.eclipse.debug.core.launchDelegates">
  		<launchDelegate id="de.unipaderborn.visuflow.debug.launchConfigurationDelegate"
						delegate="de.unipaderborn.visuflow.debug.LaunchConfigurationDelegate"
						type="org.eclipse.jdt.launching.localJavaApplication"
						name="Visuflow"
						delegateDescription="Description of this launch delegate 
							(plugin.xml extension point=org.eclipse.debug.core.launchDelegates)">
			<!--<modeCombination modes="run" perspective="de.unipaderborn.visuflow.ui.VisuflowEditorPerspective"></modeCombination>-->
			<modeCombination modes="debug" perspective="de.unipaderborn.visuflow.ui.VisuflowEditorPerspective"></modeCombination>
  		</launchDelegate>
 	</extension>
 <extension
       id="VisuFlow.PlugIn.Wizard"
       name="VisuFlow PlugIn Wizard"
       point="org.eclipse.ui.newWizards">
    <category
          id="VisuFlow.PlugIn.Wizard.VFCategory"
          name="Taget Project">
    </category>
    <wizard
          class="de.unipaderborn.visuflow.wizard.WizardHandler"
          id="VisuFlow.PlugIn.Wizard.VFWizard"
          name="Target Folder">
    </wizard>
 </extension>
</plugin>
