<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="GraphStreamFeasibility"
            name="Visuflow">
      </category>
      <view
            category="GraphStreamFeasibility"
            class="graphstreamfeasibility.views.SampleView"
            icon="icons/sample.gif"
            id="graphstreamfeasibility.views.SampleView"
            name="Jimple">
      </view>
      <view
            category="GraphStreamFeasibility"
            class="de.unipaderborn.visuflow.graphdisplaycomponent.CFGViewPart"
            icon="icons/sample.gif"
            id="de.unipaderborn.visuflow.graphdisplaycomponent.CFGViewPart"
            name="CFG">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="graphstreamfeasibility.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="false"
         locationURI="popup:#AbstractTextEditorRulerContext?after=additions">
      <command
            commandId="JimpleEditor.JimpleEditorBreakpoint"
            label="ToggleBreakpoint"
            style="push">
      </command>
   </menuContribution>
   <menuContribution
         allPopups="false"
         locationURI="popup:#AbstractTextEditorRulerContext?after=additions">
      <command
            commandId="GraphStreamFeasibility.sourceCodeCommand"
            label="View Java Source"
            style="push">
      </command>
   </menuContribution>
</extension>
<extension
      point="org.eclipse.ui.commands">
   <command
         id="JimpleEditor.JimpleEditorBreakpoint"
         name="name">
   </command>
   <command
         id="GraphStreamFeasibility.sourceCodeCommand"
         name="sourceCodeCommand">
   </command>
</extension>
<extension
      point="org.eclipse.ui.handlers">
   <handler
         class="de.unipaderborn.visuflow.debug.handlers.JimpleBreakPointHandler"
         commandId="JimpleEditor.JimpleEditorBreakpoint">
   </handler>
   <handler
         class="de.unipaderborn.visuflow.debug.handlers.ViewJavaSource"
         commandId="GraphStreamFeasibility.sourceCodeCommand">
   </handler>
</extension>
</plugin>
