 graph {
	fill-color: white;
}
node {
	size-mode: fit;
	shape: rounded-box;
/* 	size-mode: dyn-size; */
	fill-color: #009688;
	fill-mode: dyn-plain;							 
	padding: 3px, 2px, 5px, 5px;					         
	text-color: black;					         
	text-style: bold;					         
/* 	text-background-mode: rounded-box;					          */
/* 	text-background-mode: box; */
/* 	text-background-color: blue;						  */
/* 	text-background-color: #009688;	*/
	text-padding: 4px, 4px;		 
	text-offset: 0px, 2px;							 
	text-size: 12gu;
}
						 
						 
 node.plus {
	fill-color: blue;
	text-background-color: #F33;
	text-color: #DDD;
}
 edge {
	arrow-shape: arrow;
	arrow-size: 3px;
	fill-color: blue;
	text-size: 10gu;
}

node:clicked {
	fill-color: blue;
}