node {
	shape: box;
	size: 25px, 15px;
	fill-color: white;
	stroke-mode: plain;
	stroke-color: yellow;
}

node.plus {
	fill-color: red;
	text-background-color: #F33;
	text-color: #DDD;
}

/* edge {
	shape: arrow;
	arrow-size: 15px;
} */

node:clicked {
	fill-color: red;
}