node {
	shape: box;
	/* size: 25px, 15px; */
	size-mode: fit;
	fill-color: white;
	text-size: 18px;
	text-style: bold;
	text-padding: 5px;
	stroke-mode: plain;
	stroke-color: brown;
}

/* node.plus {
	fill-color: red;
	text-background-color: #F33;
	text-color: #DDD;
} */

 edge {
	arrow-shape: arrow;
	arrow-size: 15px;
}

/* node:clicked {
	fill-color: red;
} */