graph {
	fill-color: white;
}

node {
	size-mode: fit;
	shape: rounded-box;
	fill-color: white;
	stroke-mode: none;
	/* stroke-color:  */
	padding: 3px, 2px, 5px, 5px;
	text-color: white;
	text-style: bold;
	text-background-mode: rounded-box;
	text-background-color: #009688;
	text-padding: 4px, 4px;
	text-offset: 0px, 2px;
}

node.plus {
	fill-color: red;
	text-background-color: #F33;
	text-color: #DDD;
	/* fill-mode: image-scaled; */ 
	/* fill-image: url('../images/ic_add_black_24dp_1x.png'); */
}

edge {
	arrow-shape: arrow;
	arrow-size: 8px, 8px, 50px;
	fill-color: blue;
}

node.testhighlight {
	fill-color: blue;
	text-background-color: #8080ff;
	text-color: #DDD;
}

node:clicked {
	fill-color: red;
	text-background-color: #F33;
	text-color: #DDD;
}